.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: deepskyblue;
  outline: none;
  transition: all 0.3s;
}

.search-form input::placeholder {
  color: deepskyblue;
}

.search-form input:focus {
  border-color: rgb(67, 126, 182);
  color: rgb(67, 126, 182);
}

.search-form input:focus::placeholder {
  color: rgb(67, 126, 182);
}

.search-form label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: deepskyblue;
}

.search-form input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 0.5rem;
}

.search-form button {
  background-color: deepskyblue;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.search-form button:hover {
  background-color: rgb(54, 119, 180);
}
